/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
*{transition: all 0.5s;}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.top {
	background: #363636 none repeat scroll 0% 0%;
	font-family: Roboto;
	color: #898989;
	font-size: 13px;
	line-height: 20px;
	padding: 14px 0px;
}
.top i{font-size: 15px;}
.top .fa-caret-down{font-size: 10px;}
.top .left{float: left;}
.top .right{float: right;}
.top span{max-width: 16.66667%;margin-right: 41px;}
.top .sign-in-up a{text-decoration: none;color: #898989;}
.top .sign-in-up a:hover{color: #8dc63f;}
.top .left span:last-child{margin-right: 0px;} 
.top .right span:last-child{margin-right: 0px;} 
.top .social i{font-size: 13px;}
.top .social a {
	background: #555 none repeat scroll 0% 0%;
	width: 16px;
	height: 16px;
	display: inline-block;
	text-align: center;
	color: #363636;
	border-radius: 2px;
	line-height: 1.2;
	margin-right: 5px;
}
.top .social a:last-child{margin-right: 0px;}
.top .social a:hover{background: #e5493a;}


.header {
	background: #FFF none repeat scroll 0% 0%;
	padding: 30px 0px;
}
.header .logo h1 {
	font-family: Axis;
	font-size: 56px;
	line-height: 20px;
	color: #363636;
	margin: 0px;
}
.header .main-menu{text-align: center;}
.header .main-menu ul{margin: 0;padding: 0;}
.header .main-menu ul li {
	list-style: outside none none;
	display: inline-block;
	position: relative;
}
.header .main-menu ul a i.fa-caret-right {
	float: right;
	line-height: 1.3;
}
.header .main-menu ul ul{display: none;position: absolute;top: 100%;left: 0;width: 250px;text-align: left;background: #fff;font-weight: 300;z-index: 999;}
.header .main-menu ul li:hover>ul{display: block;}
{display: block;}
.header .main-menu ul ul li{display: block;position: relative;}
.header .main-menu ul ul li a{display: block;text-transform: none;}
.header .main-menu ul ul li a:hover:before{display: none;}
.header .main-menu ul ul ul{position: absolute;top: 0;left: 100%;}
.header .main-menu ul li a {
	display: block;
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	padding: 10px;
	position: relative;
}
.header .main-menu ul li a:hover, .header .main-menu ul li:hover a{color: #e5493a;text-decoration: none;}
.header .main-menu ul li a:hover:before, .header .main-menu ul li:hover a:before{position: absolute;top: 0;left: 10px;width: 10px;height: 2px;background: #e5493a;content: '';}
.header .main-menu ul li:hover ul a, .header .main-menu ul ul li:hover ul a{color: #555;}
.header .main-menu ul li:hover ul a:hover, .header .main-menu ul ul li:hover a{color: #e5493a;}
.header .main-menu ul li:hover ul a:before{display: none;}

.header .cart-search {
	text-align: right;
	padding-top: 6px;
}
.header .cart {
	font-family: Raleway;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	font-weight: bolder;
	margin-right: 20px;
}
.header .cart i {
	position: relative;
	font-size: 19px;
}
.header .cart .number {
	position: absolute;
	width: 17px;
	height: 17px;
	background: #e5493a;
	border-radius: 50px;
	top: -7px;
	left: 15px;
	text-align: center;
	font-family: Roboto;
	font-size: 11px;
	color: #fff;
	padding-top: 3px;
}
.header .search{}
.header .search a{color: #363636;font-size: 19px;}
.slider .slider-left-btn, .slider .slider-right-btn {
	width: 42px;
	height: 42px;
	background: transparent url("../img/control.png") repeat scroll 0% 0%;
	position: absolute;
	top: 50%;
	margin-top: -21px;
	font-size: 28px;
	text-align: center;
	color: #FFF;
}
.slider .slider-left-btn{
	left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.slider .slider-right-btn{
	right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.slider img{width: 100%;height: auto;}
.slider .slider-caption {
	width: 100%;
	height: 400px;
	position: absolute;
	top: 20%;
	left: 0;
	text-align: center;
	font-family: Raleway;
}
.slider .slider-caption h1, .slider .slider-caption h2{
	color: #FFF;
	font-weight: bolder;
	line-height: 80px;
	margin: 0;
}
.slider .slider-caption h1 {
	font-size: 68px;
}
.slider .slider-caption h2 {
	font-size: 51px;
}
.slider .slider-caption p {
	font-family: Raleway;
	font-size: 27px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 40px;
}
.slider .slider-caption .btn {
	font-family: Raleway;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-right: 30px;
}
.slider .slider-caption .btn:last-child{margin-right: 0px;}
.slider .slider-caption .btn-dark{background: #363636;border: 1px solid #363636;}
.slider .slider-caption .btn-light{background: transparent;}

.content{}
.content .text-blocks {
	text-align: center;
	background: #363636 none repeat scroll 0% 0%;
	font-family: Raleway;
	padding: 43px 0px 65px;
}
.content .text-blocks h2 {
	color: #959595;
	font-size: 32px;
	line-height: 20px;
	font-weight: bold;
	margin: 0px;
}
.content .text-blocks p {
	color: #707070;
	font-size: 24px;
	line-height: 20px;
	font-weight: 400;
	margin: 10px 0px 0px;
}

.content .services{background: #fafafa;position: relative;text-align: center;padding: 81px 0px 80px;}
.content .services:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -31px;
  border: 16px solid;
  border-color: transparent transparent #fff transparent;
}
.content .services .single {
	position: relative;
	background: #FFF none repeat scroll 0% 0%;
	padding: 64px 35px 30px;
	cursor: pointer;
	margin-top: 35px;
}
.content .services .single:after{content: '';position: absolute;width: 70px;height: 2px;background: #363636;left: 50%;margin-left: -35px;bottom: 30px;}
.content .services .single .icon{position: absolute;width: 70px;height: 70px;top: 0;left: 50%;margin: -35px 0px 0px -35px;background: #363636;border-radius: 50px;}
.content .services .single .icon img{padding-top: 20px;}
.content .services .single h4 {
	margin: 0px 0px 20px;
	font-family: Raleway;
	font-size: 24px;
	line-height: 20px;
	font-weight: bold;
	color: #363636;
}
.content .services .single p {
	margin: 0px 0px 30px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	color: #959595;
}
.content .services .single:hover .icon{background: #e5493a;}
.content .services .single:hover h4{color: #e5493a;}
.content .services .single:hover p{color: #363636;}
.content .services .single:hover:after{background: #e5493a;}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
